<h1>Your Watch Lists</h1>

<% @lists.each do |list| %>
  <%= link_to list.name, list_path(list), class:'text-decoration-none'%>
  <%= list.name %>
<% end %>

<%#= simple_form_for @movies do |f| %>
  <%#= f.input :comment %>
  <%#= f.association :movies %>
  <%#= f.association :lists %>
  <%#= f.button :submit %>
<%# end %>

<%= link_to 'Create a new list', new_list_path %>
