<h1>Your Watch Lists</h1>

<p>
  <span id="headline-typed-text"></span>
</p>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col">
      <%= link_to list_path(list), class:'text-decoration-none' do %>
        <div class="card-category col-auto mr-3 p-2 ">
          <%= list.name %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to (fa_icon "plus", text: 'Create a new list'), new_list_path, class:'text-decoration-none' %>
