<h1 class="text-center">Your Watch Lists</h1>

<p class="text-center">
  <span id="headline-typed-text" class="typed-js"></span>
</p>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-4">
      <%= link_to list_path(list), class:'text-decoration-none' do %>
        <div class="card-category" data-aos="fade-up" data-aos-duration="1000" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
          <%= list.name %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="1000">
  <%= link_to (fa_icon "plus", text: 'Create a new list'), new_list_path %>
</div>

<%#= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<%#= cl_image_tag("wqjj4mgpotje8spcvl7n", width: 400, height: 300, crop: :fill) %>
