<h3>Add a new list</h3>

<%= simple_form_for @list do |f| %>
  <%= f.input :name, placeholder: 'Drama' %>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>

<%#= simple_form_for @list do |f| %>
  <%#= f.input :name %>
  <%#= f.submit %>
<%# end %>

<%= link_to 'Cancel', root_path %> 
