<h3>Add a new list</h3>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.submit class: 'btn btn-secondary' %>
<% end %>

<%#= simple_form_for @list do |f| %>
  <%#= f.input :name %>
  <%#= f.submit %>
<%# end %>

<%= link_to (fa_icon "times"), root_path %> 
